<!doctype html>

<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title> MobilePost - Strona główna </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" th:href="@{../css/vendor.css}" media="all"/>
    <!-- Theme initialization -->
    <link rel="stylesheet" th:href="@{../css/app.css}" media="all"/>

</head>

<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="header-block header-block-search hidden-sm-down">
                <form role="search" th:action="@{/delivery/searchDeliver}" method="post" >
                    <div class="input-container"><i class="fa fa-search"></i> <input type="text" placeholder="Szukaj" name="searchText"/>
                        <div class="underline"></div>
                    </div>
                    <input type="hidden"
                           name="${_csrf.parameterName}"
                           value="${_csrf.token}"/>
                </form>
            </div>
            <div class="header-block header-block-buttons">
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <button class="btn btn-oval btn-sm rounded-s header-btn" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-home"></i> <b th:text = "${location}"></b>
                            </button>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">1</a>
                                <a class="dropdown-item" href="#">2</a>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>
            <div class="header-block header-block-nav">
                <a href=""><i class="fa fa-power-off fa-2x"></i> Wyloguj się</a>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <label th:inline="text">Witaj [[${#httpServletRequest.remoteUser}]]!</label></div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu" id="sidebar-menu">
                        <li>
                            <a href="/"> <i class="fa fa-home fa-fw"></i> Strona główna </a>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-folder-o fa-fw"></i> Zarządzaj <i class="fa arrow"></i> </a>
                            <ul>
                                <li><a href="/delivery/list">
                                    <i class="fa fa-archive fa-fw"></i>
                                    Paczki
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                    Listy
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-money fa-fw"></i>
                                    Przekazy
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> <i class="fa fa-sign-out fa-fw"></i> Rozchody <i class="fa arrow"></i> </a>
                            <ul>
                                <li><a href="/delivery/expenditure">
                                    <i class="fa fa-list fa-fw"></i>
                                    Wszystkie
                                </a></li>
                                <li><a href="/delivery/searchDeliver">
                                    <i class="fa fa-search fa-fw"></i>
                                    Znajdź
                                </a></li>
                            </ul>
                        </li>

                        <li class="active open">
                            <a href=""> <i class="fa fa-plus-square-o fa-fw"></i> Zarejestruj <i class="fa arrow"></i>
                            </a>
                            <ul class="collapse in">
                                <li th:class="${courier} ? '' : active"><a href="/delivery/addDeliver">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                    Dodaj nową przesyłkę
                                </a></li>
                                <li th:class="${courier} ? active : ''"><a href="/delivery/addCourier">
                                    <i class="fa fa-truck fa-fw"></i>
                                    Dodaj przesyłkę kurierską
                                </a></li>
                                <li><a href="/deliver/transfer">
                                    <i class="fa fa-money fa-fw"></i>
                                    Dodaj nowy przekaz
                                </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-gears fa-fw"></i> Administracja <i class="fa arrow"></i> </a>
                            <ul>
                                <li><a href="/products/list">
                                    <i class="fa fa-list fa-fw"></i>
                                    Produkty
                                </a></li>
                                <li><a href="/posts/list">
                                    <i class="fa fa-legal fa-fw"></i>
                                    Urzędy
                                </a></li>
                                <li><a href="/types/list">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>
                                    Typy przesyłek
                                </a></li>
                                <li><a href="/users/list">
                                    <i class="fa fa-user fa-fw"></i>
                                    Użytkownicy
                                </a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <article class="content dashboard-page">
            <div class="title-block">
                <h3 class="title" th:text="${courier} ? 'Dodaj kuriera' : 'Dodaj paczkę'"></h3>
                <p class="title-description"> Aby dodać paczkę proszę o uzupełnienie wszystkich pól</p>
            </div>
            <div class="subtitle-block">
                <h3 class="subtitle" th:text="${courier} ? 'Formularz dodawania nowego kuriera' : 'Formularz dodawania nowej paczki'">
                </h3> </div>
            <section class="section">
                <div class="row sameheight-container">
                    <form action="#" th:action="addDeliver" th:object="${delivery}" method="post">
                        <div class="col-md-4">
                            <div class="card card-block sameheight-item">
                                <div class="title-block">
                                    <h5 th:text="${courier} ? 'Dane kuriera' : 'Dane paczki'"></h5>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Numer przesyłki</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj numer przesyłki..." th:field="*{code}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Produkt</label>
                                    <select class = "form-control form-control-sm" th:field="*{type}">
                                        <option th:each="type : ${products}"
                                                th:value="${type.id}"
                                                th:text="${type.name}"></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Masa</label>
                                    <input type="number" class="form-control boxed"
                                           placeholder="Podaj wagę przesyłki (kg)..." th:field="*{weight}"/>
                                </div>
                                <div th:if="${courier}" class="form-group">
                                    <label class="control-label">Data wysyłki</label>
                                    <input type="date" class="form-control boxed"
                                           placeholder="Podaj datę wysyłki..." th:field="*{postDate}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-block sameheight-item">
                                <div class="title-block">
                                    <h5>Dane adresata</h5>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Imię nadawcy</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj imię nadawcy..." th:field="*{senderName}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nazwisko nadawcy</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj nazwisko nadawcy..." th:field="*{senderSurname}"/>
                                </div>
                                <label class="control-label"><i>Adres i dane kontaktowe nadawcy</i></label>
                                <div class="form-group">
                                    <label class="control-label">Kod pocztowy</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj kod pocztowy..." th:field="*{senderZipCode}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Miejscowość</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj nazwę miejscowości..." th:field="*{senderCity}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ulica</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj nazwę ulicy..." th:field="*{senderStreet}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Numer mieszkania</label>
                                    <input type="number" class="form-control boxed"
                                           placeholder="Podaj numer mieszkania..." th:field="*{senderApartment}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Numer telefonu</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj numer telefonu..." th:field="*{senderPhone}"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-block sameheight-item">
                                <div class="title-block">
                                    <h5>Dane odbiorcy</h5>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Imię odbiorcy</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj imię odbiorcy..." th:field="*{recipientName}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nazwisko odbiorcy</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj nazwisko odbiorcy..." th:field="*{recipientSurname}"/>
                                </div>
                                <label class="control-label"><i>Adres i dane kontaktowe odbiorcy</i></label>
                                <div class="form-group">
                                    <label class="control-label">Kod pocztowy</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj kod pocztowy..." th:field="*{recipientZipCode}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Miejscowość</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj nazwę miejscowości..." th:field="*{recipientCity}" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Ulica</label>
                                    <input type="text" class="form-control boxed" placeholder="Podaj nazwę ulicy..." th:field="*{recipientStreet}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Numer mieszkania</label>
                                    <input type="number" class="form-control boxed"
                                           placeholder="Podaj numer mieszkania..." th:field="*{recipientApartment}"/>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Numer telefonu</label>
                                    <input type="text" class="form-control boxed"
                                           placeholder="Podaj numer telefonu..." th:field="*{recipientPhone}"/>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-pill-left btn-primary">Dodaj</button>
                        <button class="btn btn-pill-right btn-secondary" onclick="goBack()">Wróć</button>
                    </form>
                </div>
            </section>

        </article>

        <div class="modal fade" id="modal-media">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Media Library</h4></div>
                    <div class="modal-body modal-tab-container">
                        <ul class="nav nav-tabs modal-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content modal-tab-content">
                            <div class="tab-pane fade" id="gallery" role="tabpanel">
                                <div class="images-container">
                                    <div class="row"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                <div class="upload-container">
                                    <div id="dropzone">
                                        <form action="/" method="POST" enctype="multipart/form-data"
                                              class="dropzone needsclick dz-clickable" id="demo-upload">
                                            <div class="dz-message-block">
                                                <div class="dz-message needsclick"> Drop files here or click to
                                                    upload.
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Insert Selected</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script src="../js/vendor.js"></script>
<script src="../js/app.js"></script>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>

</html>