<html class="no-js" lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:p="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title> MobilePost - Przesyłki </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="apple-touch-icon" href="apple-touch-icon.png"/>
    <!-- Place favicon.ico in the root directory -->
    <link rel="stylesheet" th:href="@{../css/vendor.css}" media="all"/>
    <!-- Theme initialization -->
    <link rel="stylesheet" th:href="@{../css/app.css}" media="all"/>

</head>

<body>
<div class="main-wrapper">
    <div class="app" id="app">
        <header class="header">
            <div class="header-block header-block-collapse hidden-lg-up">
                <button class="collapse-btn" id="sidebar-collapse-btn">
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <div class="header-block header-block-search hidden-sm-down">
                <form role="search">
                    <div class="input-container"><i class="fa fa-search"></i> <input type="search"
                                                                                     placeholder="Szukaj"/>
                        <div class="underline"></div>
                    </div>
                </form>
            </div>
            <div class="header-block header-block-buttons">
                <div class="header-block header-block-nav">
                    <ul class="nav-profile">
                        <li class="profile dropdown">
                            <button class="btn btn-oval btn-sm rounded-s header-btn" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-home"></i> <b th:text = "${location}"></b>
                            </button>
                            <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                <a class="dropdown-item" href="#">1</a>
                                <a class="dropdown-item" href="#">2</a>
                            </div>
                        </li>
                        <li class="notifications new">
                            <button class="btn btn-oval btn-sm rounded-s header-btn" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-euro"> </i> 3.14
                            </button>
                        </li>
                    </ul>


                </div>
            </div>
            <div class="header-block header-block-nav">
                <a href="logout"><i class="fa fa-power-off fa-2x"></i> Wyloguj się</a>
            </div>
        </header>
        <aside class="sidebar">
            <div class="sidebar-container">
                <div class="sidebar-header">
                    <div class="brand">
                        <label th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</label></div>
                </div>
                <nav class="menu">
                    <ul class="nav metismenu" id="sidebar-menu">
                        <li>
                            <a href="/"> <i class="fa fa-home fa-fw"></i> Strona główna </a>
                        </li>

                        <li class="active open">
                            <a href=""> <i class="fa fa-folder-o fa-fw"></i> Zarządzaj <i class="fa arrow"></i> </a>
                            <ul class="collapse in">
                                <li class="active"><a href="/delivery/list">
                                    <i class="fa fa-archive fa-fw"></i>
                                    Paczki
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                    Listy
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-money fa-fw"></i>
                                    Przekazy
                                </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href=""> <i class="fa fa-sign-out fa-fw"></i> Rozchody <i class="fa arrow"></i> </a>
                            <ul>
                                <li><a href="/delivery/expenditure">
                                    <i class="fa fa-list fa-fw"></i>
                                    Wszystkie
                                </a></li>
                                <li><a href="#">
                                    <i class="fa fa-search fa-fw"></i>
                                    Znajdz
                                </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-plus-square-o fa-fw"></i> Zarejestruj <i class="fa arrow"></i>
                            </a>
                            <ul>
                                <li><a href="/delivery/addDeliver">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                    Dodaj nową przesyłkę
                                </a></li>
                                <li><a href="/delivery/addCourier">
                                    <i class="fa fa-truck fa-fw"></i>
                                    Dodaj przesyłkę kurierską
                                </a></li>
                                <li><a href="/registry/transfer">
                                    <i class="fa fa-money fa-fw"></i>
                                    Dodaj nowy przekaz
                                </a></li>
                            </ul>
                        </li>

                        <li>
                            <a href=""> <i class="fa fa-gears fa-fw"></i> Administracja <i class="fa arrow"></i> </a>
                            <ul>
                                <li><a href="/products/list">
                                    <i class="fa fa-list fa-fw"></i>
                                    Produkty
                                </a></li>
                                <li><a href="/posts/list">
                                    <i class="fa fa-legal fa-fw"></i>
                                    Urzędy
                                </a></li>
                                <li><a href="/types/list">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>
                                    Typy przesyłek
                                </a></li>
                                <li><a href="/users/list">
                                    <i class="fa fa-user fa-fw"></i>
                                    Użytkownicy
                                </a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <article class="content dashboard-page">

            <div class="title-search-block">
                <div class="title-block">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title">
                                Przesyłki
                                <a href="addDeliver" class="btn btn-primary btn-sm rounded-s">Dodaj</a>
                            </h3>
                            <p class="title-description"> Sekcja kierownicza zarządzania przesyłkami </p>
                        </div>
                    </div>
                </div>
            </div>

            <section class="section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="card-title-block">
                                    <h3 class="title">
                                        Szczegóły przesyłki
                                    </h3>
                                </div>

                                <div class="row sameheight-container">
                                    <div class="col-md-6">
                                        <div class="card card-block sameheight-item" style="height: 725px;">
                                            <div class="title-block">
                                                <h3 class="title" th:text="'Przesyłka numer: ' + ${delivery.code}">
                                                </h3> </div>
                                            <form>
                                                <div class="form-group"> <label class="control-label">Typ przesyłki</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.type}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Waga</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.weight} + ' kg'" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Cena</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.type} + ' PLN'" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Nadano w urzędzie</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.fromOffice}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Awizowano</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.advicePackage == true} ? 'Tak' : 'Nie'" th:style="${delivery.advicePackage == true} ? 'color: #8CDE33' : 'color: #1e9eca'"></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Szacowany czas doręczenia</label>
                                                    <p class="form-control-static boxed" th:text = "${#calendars.format(delivery.estimatedDate,'yyyy-MM-dd')}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Data doręczenia</label>
                                                    <p th:if="${delivery.deliveredDate} != null" class="form-control-static boxed" th:text = "${#calendars.format(delivery.deliveredDate,'yyyy-MM-dd')}" ></p>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card card-block sameheight-item" style="height: 725px;">
                                            <div class="title-block">
                                                <h3 class="title" th:text="'Przesyłka numer: ' + ${delivery.code}">
                                                </h3> </div>
                                            <form>
                                                <div class="form-group"> <label class="control-label">Imię i nazwisko nadawcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.senderName} + ' ' + ${delivery.senderSurname}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Adres nadawcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.senderZipCode} + ' ' + ${delivery.senderCity} + ', ' + ${delivery.senderStreet} + ' ' + ${delivery.senderApartment}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Numer telefonu nadawcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.senderPhone}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Imię i nazwisko odbiorcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.recipientName} + ' ' + ${delivery.recipientSurname}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Adres odbiorcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.recipientZipCode} + ' ' + ${delivery.recipientCity} + ', ' + ${delivery.recipientStreet} + ' ' + ${delivery.recipientApartment}" ></p>
                                                </div>
                                                <div class="form-group"> <label class="control-label">Numer telefonu odbiorcy</label>
                                                    <p class="form-control-static boxed" th:text = "${delivery.recipientPhone}" ></p>
                                                </div>

                                            </form>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modalRemove" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="exampleModalLabel">Awizo</h4>
                            </div>
                            <div class="modal-body">
                                Czy na pewno chcesz awizować przesyłkę ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                <a href="" class="btn btn-danger" id="removeBtn">Tak</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalDelivered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="exampleModalLabel2">Dostarczono</h4>
                            </div>
                            <div class="modal-body">
                                Czy na pewno chcesz oznaczyć przesyłkę jako doręczoną ?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                                <a href="" class="btn btn-danger" id="deliveryBtn">Tak</a>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <section class="section">

            </section>
            <section class="section map-tasks">

            </section>
        </article>

        <div class="modal fade" id="modal-media">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title">Media Library</h4></div>
                    <div class="modal-body modal-tab-container">
                        <ul class="nav nav-tabs modal-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link" href="#gallery" data-toggle="tab" role="tab">Gallery</a>
                            </li>
                            <li class="nav-item"><a class="nav-link active" href="#upload" data-toggle="tab" role="tab">Upload</a>
                            </li>
                        </ul>
                        <div class="tab-content modal-tab-content">
                            <div class="tab-pane fade" id="gallery" role="tabpanel">
                                <div class="images-container">
                                    <div class="row"></div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="upload" role="tabpanel">
                                <div class="upload-container">
                                    <div id="dropzone">
                                        <form action="/" method="POST" enctype="multipart/form-data"
                                              class="dropzone needsclick dz-clickable" id="demo-upload">
                                            <div class="dz-message-block">
                                                <div class="dz-message needsclick"> Drop files here or click to
                                                    upload.
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Insert Selected</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- /.modal -->
    </div>
</div>
<!-- Reference block for JS -->
<div class="ref" id="ref">
    <div class="color-primary"></div>
    <div class="chart">
        <div class="color-primary"></div>
        <div class="color-secondary"></div>
    </div>
</div>
<script src="../js/vendor.js"></script>
<script src="../js/app.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".triggerRemove").click(function (e) {
            var link = $(this).attr("href");
            console.log(link);
            e.preventDefault();
            $("#removeBtn").attr("href",link);
            $("#modalRemove").modal();
        });

        $(".triggerDelivery").click(function (e) {
            var link = $(this).attr("href");
            console.log(link);
            e.preventDefault();
            $("#deliveryBtn").attr("href",link);
            $("#modalDelivered").modal();
        });

    });
</script>
</body>

</html>